# Function

In [1]:
print("Hello World")

Hello World

In [2]:
def multiplyByThree(val):
    return val*3
multiplyByThree(3)

9

In [4]:
def multiply(val1,val2):
    return val1*val2
multiply(2,3)

6

In [5]:
a = [1,2,3]
def appendList(a):
    a.append(4)
appendList(a)
print(a)

[1, 2, 3, 4]

In [2]:
def performOperation(num1,num2,operation):
    if operation == 'sum':
        return num1+num2
    if operation == 'multiply':
        return num1*num2
performOperation(2,3,'sum')

5

## Named Parameters

In [3]:
def performOperation(num1,num2,operation='sum'):
    if operation == 'sum':
        return num1+num2
    if operation == 'multiply':
        return num1*num2
performOperation(2,3)

5

In [4]:
def performOperation(num1,num2,operation='sum'):
    if operation == 'sum':
        return num1+num2
    if operation == 'multiply':
        return num1*num2
performOperation(2,3,'multiply')

6

## *args

In [6]:
def performOperation(*args):
    print(args)
performOperation(1,2,3)

(1, 2, 3)

## **kwargs

In [8]:
def performOperation(*args, **kwargs):
    print(args)
    print(kwargs)
performOperation(1,2,3,operation='sum')

(1, 2, 3)
{'operation': 'sum'}

In [9]:
import math

In [12]:
def performOperation(*args,operation='sum'):
    if operation == 'sum':
        return sum(args)
    if operation == 'multiply':
        return math.prod(args)
performOperation(2,3,operation = 'multiply')

6

In [13]:
performOperation(1,2,3,4,5,5,2,3,operation = 'multiply')

3600

## Function Scope

In [14]:
def performOperation(*args, **kwargs):
    print(args)
    print(kwargs)
performOperation(1,2,3,operation='sum')

(1, 2, 3)
{'operation': 'sum'}

### locals()

In [15]:
def performOperations(num1,num2,operation='sum'):
    print(locals())
performOperation(1,2,operation='multiply')

(1, 2)
{'operation': 'multiply'}

### globals()

In [ ]:
globals()

### Global and Local Scope

In [19]:
message = "some global data"

def function1(varA,varB):
    print(locals())
    print(message)
def function2(varc,varB):
    print(locals())
    print(message)
function1(1,2)
function2(3,4)

{'varA': 1, 'varB': 2}
some global data
{'varc': 3, 'varB': 4}
some global data

In [20]:
message = "some global data"
varA = 2

def function1(varA,varB):
    print(varA)
    print(locals())
    print(message)
def function2(varc,varB):
    print(varA)
    print(locals())
    print(message)
function1(1,2)
function2(3,4)

1
{'varA': 1, 'varB': 2}
some global data
2
{'varc': 3, 'varB': 4}
some global data

In [21]:
def function1(varA,varB):
    message = 'Some local data'
    print(varA)
    def inner_function(carA,varB):
        print(f'inner_function local scope: {locals()}')
    
    inner_function(123,456)
function1(1,2)

1
inner_function local scope: {'carA': 123, 'varB': 456}

In [22]:
def function1(varA,varB):
    message = 'Some local data'
    print(varA)
    def inner_function(carA,varB):
        print(f'inner_function local scope: {locals()}')
    
    print(locals())
    inner_function(123,456)
function1(1,2)

1
{'varA': 1, 'varB': 2, 'message': 'Some local data', 'inner_function': <function function1.<locals>.inner_function at 0x7fd5400d7160>}
inner_function local scope: {'carA': 123, 'varB': 456}

## Variables as Functions

### Viewing function data with __code__

In [23]:
def x():
    return 5

In [24]:
print(x.__code__.co_varnames)
print(x.__code__.co_code)

()
b'd\x01S\x00'

### Text Processing in Python

In [25]:
def add(num1):
    return num1+2
def multiply(num1):
    return num1*3
def divide(num1):
    return num1/2
def subtract(num1):
    return num1-4

process = [add,multiply,divide,subtract]
num1 = 10
for func in process:
    num1 = func(num1)
    print(num1 )

12
36
18.0
14.0

### Lambda Functions

In [26]:
(lambda x:x +3)(5)

8

In [27]:
myList = [5,4,3,2]
sorted(myList)

[2, 3, 4, 5]

In [28]:
myList = [{'num':3},{'num':2},{'num':1}]
sorted(myList,key = lambda x:x['num'])

[{'num': 1}, {'num': 2}, {'num': 3}]